# Copy file ini ke .env dan isi dengan credentials Anda
# Jangan commit file .env ke git!

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://wibsjoskduaqqvkywgsa.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpYnNqb3NrZHVhcXF2a3l3Z3NhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMDIwMjYsImV4cCI6MjA5MDc3ODAyNn0.yoVNvtZ2sW_oShgwdXLcoRZb-V_kUR1fLWoJ2VxtLcw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndpYnNqb3NrZHVhcXF2a3l3Z3NhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIwMjAyNiwiZXhwIjoyMDkwNzc4MDI2fQ.GA7nRJ2NHSmmNQ48wfKEPDJdB-mGjxjFwCsCtlKfH-c

# JWT Secret (ganti dengan random string minimal 32 karakter)
JWT_SECRET=ccadcbd8-b101-42bc-a0da-58f4cf85263c
